@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

/* TYPOGRAPHY */

p, button, input, label, summary, details, select, option, span {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.category-list {
    list-style: none;
    width: 800px;
}

.category {
    min-height: 50px;
    transition: all 0.3s ease-in-out;
}

.category summary {
    list-style: none;
}

.category-transaction-list {
    list-style: none;
}

.transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

.transaction span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.transaction-description {
    max-width: 30ch;
    font-weight: bold;
}